$color: #EF2042;
$color2: #fff8c5;
$color3: #fff8c5e3;
$poppins: 'Poppins', sans-serif;
$text-color: #fff;
$nav-height: 80px;
$nav-background: #EF2042;
$nav-font-color: #ffffff;
$link-hover-color: grey;
$dark-color: black;


